@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-ThinItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/JetBrains_Mono/static/JetBrainsMono-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/Open_Sans/static/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/Open_Sans/static/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/Open_Sans/static/OpenSans-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/Open_Sans/static/OpenSans-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/Open_Sans/static/OpenSans-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url('/styles/apollostage/fonts/source/Open_Sans/static/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

