  background-color: #4f4f4f;
  background-color: #68b85c !important;
  background-color: #353434;
  background-color: #af2405;
  background-color: #ececec;
  background-color: #fff;
  background-color: rgb(255, 255, 255);
  background-color: rgba(33, 33, 33, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.6);
  background-color: transparent !important;
  background-color: transparent !important;
  background-color: transparent;
  background-image: none !important;
  background-image: none !important;
  background-image: none;
  background: #4f4f4f;
  background: #111 50% 0 no-repeat fixed;
  background: #dadada;
  background: #dadada;
  background: #e5e5e5;
  background: #e5e5e5;
  background: #eee !important;
  background: #f3f3f3 !important;
  background: #f3f3f3;
  background: #fff !important;
  background: #fff !important;
  background: #fff;
  background: #fff;
  background: #fff;
  background: #fff;
  background: #fff;
  background: linear-gradient(rgba(33, 33, 33, 0.4), rgba(33, 33, 33, 0.42));
  background: linear-gradient(rgba(33, 33, 33, 0.4), rgba(33, 33, 33, 0.42));
  background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.58)) !important;
  background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.58));
  background: linear-gradient(rgba(33, 33, 33, 0.7), rgba(33, 33, 33, 0.72));
  background: linear-gradient(rgba(33, 33, 33, 0.22), rgba(33, 33, 33, 0.24));
  background: linear-gradient(rgba(33, 33, 33, 0.28), rgba(33, 33, 33, 0.3));
  background: linear-gradient(rgba(33, 33, 33, 0.34), rgba(33, 33, 33, 0.36));
  background: linear-gradient(rgba(33, 33, 33, 0.46), rgba(33, 33, 33, 0.48));
  background: linear-gradient(rgba(33, 33, 33, 0.52), rgba(33, 33, 33, 0.54));
  background: linear-gradient(rgba(33, 33, 33, 0.58), rgba(33, 33, 33, 0.6));
  background: linear-gradient(rgba(33, 33, 33, 0.64), rgba(33, 33, 33, 0.66));
  background: linear-gradient(rgba(255, 255, 255, 0.69), rgba(255, 255, 255, 0.79));
  background: linear-gradient(rgba(255, 255, 255, 0.69), rgba(255, 255, 255, 0.79));
  background: linear-gradient(rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.68));
  background: linear-gradient(rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.68));
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.78));
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.78));
  background: rgba(33, 33, 33, 0.1);
  background: rgba(33, 33, 33, 0.3);
  background: rgba(33, 33, 33, 0.3);
  background: rgba(33, 33, 33, 0.5);
  background: rgba(33, 33, 33, 0.5);
  background: rgba(33, 33, 33, 0.5);
  background: rgba(33, 33, 33, 0.5);
  background: rgba(44, 44, 44, 0.9) !important;
  background: rgba(59, 59, 59, 0.9);
  background: rgba(59, 62, 66, 0.9) !important;
  background: rgba(68, 68, 68, 0.5);
  background: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.4);
  background: transparent !important;
  background: transparent !important;
  background: transparent;
