/* ### 2.2.5 Snatched torrent indicators
   the following must be after 2.2.4 invisibility */

tr.snatched_group div.tags::before {
  content: ✔︎ Snatched group;
  /* plus formatting below */
}
tr.snatched_torrent div.tags::before {
  content: ✔︎ Snatched torrent;
  /* plus formatting below */
}

/* We apply coloring this way:
/*
Gray_zone
        tl_snatched
        tl_snatched_torrent
        tl_snatched_group
Green_zone
        tl_freeload
        tl_freeleech
        tl_personal
        tl_neutral
        tl_cassette_approved
        tl_lossymaster_approved
Red_zone
        tl_reported
        tl_bad_tags
        tl_bad_folders
        tl_bad_files
Yellow_zone
        tl_checksum
        tl_trumpable
        tl_missing_lineage 
*/

/* listing pages */
tr.snatched_group div.tags::before,
tr.snatched_torrent div.tags::before,
/* album pages */

#torrent_details.snatched .group_torrent.snatched_torrent .torrent_label.tooltip.tl_snatched,
.tl_snatched,
.tl_snatched_torrent,
.tl_snatched_group,
.tl_freeload,
.tl_freeleech,
.tl_personal,
.tl_neutral,
.tl_cassette_approved,
.tl_lossymaster_approved,
.tl_reported,
.tl_bad_tags,
.tl_bad_folders,
.tl_bad_files,
.tl_checksum,
.tl_trumpable,
.tl_missing_lineage  {
  visibility: visible;
  border-radius: 1rem;
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.6rem;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0.1rem;
  padding: 0 0.5rem;
  vertical-align: baseline;
}

/* gray */
.tl_gray,
.tl_snatched {
  background: darkgray;
  color: gainsboro;
  background: variables.$color-obj-reported_bubble_background;
  color: variables.$color-obj-reported_bubble_foreground;
}

/* green */
.tl_green,
.tl_freeload,
.tl_freeleech,
.tl_personal,
.tl_neutral,
.tl_cassette_approved,
.tl_lossymaster_approved {
  background: lawngreen;
  color: darkgreen;
}

/* yellow */
.tl_yellow,
.tl_checksum,
.tl_trumpable,
.tl_missing_lineage {
  background: goldenrod;
  color: sienna;
}

/* red */
.tl_red,
.tl_notice, .tl_reported, .tl_trumpable,
.tl_reported,
.tl_bad_tags,
.tl_bad_folders,
.tl_bad_files {
  background: #bb0000;
  color: pink;
  background: variables.$color-obj-reported_bubble_background;
  color: variables.$color-obj-reported_bubble_foreground;
}
