/* Error: expected "{".
 *    ,
 * 15 |   blk: #020B09;
 *    |               ^
 *    '
 *   ../apollostage/_variables.scss 15:15  @import
 *   style.scss 6:9                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 15 \2502    blk: #020B09;\a    \2502                ^\a    \2575 \a   ../apollostage/_variables.scss 15:15  @import\a   style.scss 6:9                        root stylesheet';
}
