/* APOLLOSTAGE COFFEE THEME */

// DEFINE THEME COLORS AND ICONS
// import basic colors as a backup:

@import '../apollostage/_variables';

// and override as follows:

// define theme colors with convenience names

  /* Vermilion */
  $vermilion-100: #8e6354;
  $vermilion-200: #8a6152;
  $vermilion-300: #845c4f;
  $vermilion-400: #7f574c;
  $vermilion-500: #785248;
  $vermilion-600: #734d45;
  $vermilion-700: #6d4942;
  $vermilion-800: #6a4640;

  /* Gray */
  $gray-100: #faf8f5;
  $gray-200: #f4f4f4;
  $gray-300: #c2c2c2;
  $gray-400: #949494;
  $gray-500: #383738;
  $gray-600: #323132;
  $gray-700: #2b2a2b;
  $gray-800: #242324;
  $gray-900: #1d1c1d;

  /* Red */
  $red-100: #e74e4e;
  $red-200: #875752;
  $red-300: #794e49;
  $red-400: #66433e;
  $red-500: #63403c;

  /* Orange */
  $orange-100: #eedfd1;
  $orange-200: #d2c6ba;
  $orange-300: #c5b09b;

  /* Green */
  $green-100: #4eb44e;

  /* Khaki */
  $khaki-100: #e1b661;

  /* Violet */
  $violet-100: #4e4ee7;

// use theme colors

$primary-accent-color: $orange-300;
$base-background-color: $gray-900;

$table-background-color: $gray-700;
$secondary-table-background-color: $gray-800;

$form-background-color: $gray-700;
$a-color: $gray-200;
$a-hover-color: $orange-100;

// Ten color gradient:

$menu-li-second-child-background-color: $vermilion-100;	// torrents
$menu-li-third-child-background-color: $vermilion-200;  // collages
$menu-li-fourth-child-background-color: $vermilion-300; // requests
$menu-li-fifth-child-background-color: $vermilion-400;	// forums
$menu-li-sixth-child-background-color: $vermilion-500;	// irc
$menu-li-seventh-child-background-color: $vermilion-600;// top10
$header-background-color: $vermilion-700;	// rules, also mobile menu header
$menu-li-ninth-child-background-color: $vermilion-800;         // wiki
$userinfo-username-color: $red-400;                  // username menu ~ closed
$userinfo-username-hover-background-color:  $red-200;  ; // username menu ~ open
$userinfo-minor-color:  $red-500;  ;                     // VV pulldown menu ~ closed
$userinfo-minor-hover-background-color: $red-300;;   // VV pulldown menu ~ open

// mobile pulldown menu gradient

$userinfo-background-color-1: $vermilion-500;// mobile pulldown menu gradient 1
$userinfo-background-color-2: $red-500;// mobile pulldown menu gradient 2

// notification gradient

$gradient-color-1: $vermilion-200;  // usually works well with 'third-child'
$gradient-color-2:  $vermilion-600; // usually works well with 'seventh-child'

// these are GNDN: goes nowhere, does nothing

$menu-background-color-1:   ;;  // noop
$menu-background-color-2:   ;;  // noop

// formatting colors for page elements

$blockquote-background-color: $gray-600;
$input-background-color:  $gray-500;
$torrent-background-color: $gray-600;
$footer-color:  $gray-400;
$input-color:  $gray-300;
$ratio-red-color:  $red-100;
$ratio-yellow-color:   $khaki-100;
$selection-background-color: rgb(180 160 139 / 60%);
$poll-background-color: rgb(197 176 155 / 10%);

// overrides these colors when called: for more theme flavor?

$span-green-color:  $green-100; ;
$span-blue-color:  $violet-100 ;

// accent color for upload categories (stripes)

$accent-color-cats_music:   ;;
$accent-color-cats_applications:   ;;
$accent-color-cats_audiobooks:   ;;
$accent-color-cats_comedy:   ;;
$accent-color-cats_comics:   ;;
$accent-color-cats_ebooks:   ;;
$accent-color-cats_elearningvideos:   ;;

// accent color for tag bubbles

// These can equal "ninth" and "second"
// or adjust contrast as desired to emphasize/de-emphaszie
$tag-bubble-background-color:  #422722; 
$tag-bubble-foreground-color:  #8d6653 ; 

@import '../apollostage/_base';

/* Warm mug of cappuchino */
// EOF
