/* Error: Undefined variable.
 *     ,
 * 623 |   background: $site-logo-lockup right no-repeat;
 *     |               ^^^^^^^^^^^^^^^^^
 *     '
 *   ../apollostage/_base.scss 623:15  @import
 *   style.scss 51:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 623 \2502    background: $site-logo-lockup right no-repeat;\a     \2502                ^^^^^^^^^^^^^^^^^\a     \2575 \a   ../apollostage/_base.scss 623:15  @import\a   style.scss 51:9                   root stylesheet";
}
