/* ################################################################################
   0000 NEW PROTON
   ################################################################################ */

@import url('https://rsms.me/inter/inter.css');

@namespace "http://www.w3.org/1999/xhtml";
@namespace svg "http://www.w3.org/2000/svg";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
body {
  background: #ccc;
  font-size: 0.7em;
  margin-bottom: 0;
  box-sizing: border-box;
}

/* ################################################################################
   0070 DEVELOPER
   ################################################################################ */

/*  Help navigating
	#wrapper { border: thick solid steelblue; }
	#header { border: thick solid skyblue; }
	#content { border: thick solid green; }
	#footer { border: thick solid brown; }
	#sidebar { border: thick solid gray; }
	div.main_column { border: thick solid purple; }
	div.sidebar.settings_sidebar {border:thick solid limegreen;}

 */

/* ################################################################################
   0100 LEGACY PROTON STUFF
   ################################################################################ */

/* ################################################################################
   0101 basic structure
   ################################################################################ */

#wrapper {
  width: 1000px;
  margin: 0 auto;
}

#content {
  padding: 20px;
  margin: 38px 0 0;
  background-color: #fff;
  color: #575757;
  border-radius: 11px;
  z-index: 2;
  position: relative;
  border: 1px solid #b5b5b5;
  background-clip: padding-box;
  -webkit-background-clip: border-box;
}

#content .header h2,
#content > .thin > .header:first-of-type > h3:first-of-type,
#content > .thin > h2:first-child {
  background-color: #f0f0f0;
  margin: 20px -20px -1px !important;
  padding: 20px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom: 1px solid #c6c6c6;
  position: relative;
  z-index: 3;
}

#content .header:first-child h2,
#content > .thin > .header:first-of-type > h3:first-of-type,
#content > .thin > h2:first-child {
  margin-top: -20px !important;
}

#content > .thin > .header:first-of-type > h3:first-of-type {
  width: 100% !important;
}

body:not(#requests):not(#friends) .box table:not(#vanityhouse) {
  margin: 0;
  background-color: #fff;
}

body:not(#requests):not(#friends) .box h2 {
  background: none;
  margin: 0;
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: static;
  border-bottom: 0;
}
.hide {
  display: none;
}

.main_column {
  width: 695px;
}

.sidebar {
  float: right;
  width: 250px;
}
/* ################################################################################
   0400 forms
   ################################################################################ */

input {
  cursor: pointer;
}

input[type=text] {
  cursor: text;
}

textarea {
  width: 500px !important;
  height: 100px;
}


input[type=file] {
  padding: 1px 3px;
}

select {
  padding: 1px;
}

input[type=button],
input[type=submit] {
  background-color: #f4f4f4;
  background-image: none;
  border-color: #cdcdcd #999 #999 #cdcdcd;
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
}

input[type=button]:active,
input[type=submit]:active {
  color: #007dc7 !important;
}

input[value="Upload torrent"],
input[value="Upload torrents"] {
  margin: 15px 0 0;
  background-color: #007dc7;
  color: #fff;
  font-size: 15px;
  border-color: #63afdd #005488 #005488 #63afdd;
  border-style: solid;
  border-width: 1px;
}

input[value="Upload torrent"],
input[value="Upload torrents"]:active {
  color: #f4f4f4 !important;
}

/* ################################################################################
   0500 appearance items
   ################################################################################ */

h1,
h2,
h3,
h4 {
  margin-top: 0;
  padding: 0;
}

.nobr {
  white-space: nowrap;
  font-weight: 400;
}

.rowa td {
  background-color: #f5f5f5;
}

.rowb td {
  background-color: #fff;
}

p {
  margin: 10px 0 5px;
}

.pad {
  padding: 0 !important;
}

#blog .pad,
.box2 .pad,
.main_column .pad,
.sidebar .pad {
  padding: 10px !important;
}

#inbox #content h2 {
  padding: 20px !important;
}

#chat #nav_irc a,
#collage #nav_collages a,
#forums #nav_forums a,
#index #nav_index a,
#requests #nav_requests a,
#rules #nav_rules a,
#staff #nav_staff a,
#top10 #nav_top10 a,
#torrents #nav_torrents a,
#wiki #nav_wiki a {
  font-weight: 700;
}

/* ################################################################################
   0511 Ratios and Sizes
   ################################################################################ */

.r00 {
  color: red;
}

.r01,
.r02 {
  color: #ff1300;
}

.r03 {
  color: #ff2600;
}

.r04 {
  color: #ff4c00;
}

.r05,
.r06 {
  color: #ff5e00;
}

.r07 {
  color: #ff7100;
}

.r08 {
  color: #ff9700;
}

.r09 {
  color: #fa0;
}

.r10 {
  color: #74c42e;
}

.r20,
.r50,
.r99 {
  color: #418b00;
}

span.size1 {
  font-size: 0.8em;
}

span.size2 {
  font-size: 1em;
}

span.size3 {
  font-size: 1.25em;
}

span.size4 {
  font-size: 1.5em;
}

span.size5 {
  font-size: 1.75em;
}

span.size6 {
  font-size: 2em;
}

span.size7 {
  font-size: 2.25em;
}

span.size8 {
  font-size: 2.5em;
}

span.size9 {
  font-size: 2.75em;
}

span.size10 {
  font-size: 3em;
}

td.r00 {
  background-color: #faefed !important;
}

/* ################################################################################
   0512 lightbox and curtain
   ################################################################################ */

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111 50% 0 no-repeat fixed;
  z-index: 1001;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.lightbox {
  position: fixed;
  text-align: center;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  padding: 0;
  z-index: 1002;
  overflow: auto;
}

.lightbox img {
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
  z-index: -1;
}

/* ################################################################################
   0513 polls
   ################################################################################ */

.poll {
  list-style: none;
  padding: 3px 5px;
  margin: 0;
}

.poll li {
  clear: both;
}

.poll .graph {
  padding: 0 0 5px;
}

.poll .graph span {
  display: block;
  height: 19px;
  float: left;
}

.poll .graph .left_poll {
  width: 9px;
  background: url(images/poll_left.png) 0 0 no-repeat;
}

.poll .graph .center_poll {
  background: url(images/poll_middle.png) 0 0 repeat-x;
  max-width: 865px;
}

#index .poll .graph .center_poll {
  max-width: 185px;
}

.poll .graph .right_poll {
  width: 11px;
  background: url(images/poll_right.png) 0 0 no-repeat;
}

/* ################################################################################
   0540 settings sidebar
   ################################################################################ */

div.sidebar.settings_sidebar div#settings_sections li h2 {
  font-size: unset;
}

div.sidebar.settings_sidebar {
  margin-right: 2rem;
}

/* ################################################################################
   0550 page items
   ################################################################################ */

.linkbox {
  text-align: center;
  padding: 10px 0;
}

.linkbox:first-child {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.linkbox {
  border-top: 0;
}

/* ################################################################################
   0600 tables
   ################################################################################ */

td p {
  margin: 0;
}

td.label {
  width: 16%;
  border-right: 1px solid #e6e6e6;
}

table {
  padding: 0;
  border-collapse: collapse;
  width: 100%;
}

#content table:not(.forum_post) td,
#content table:not(.forum_post) th {
  padding: 5px;
  border-top: 1px solid #e6e6e6;
}

#content table td h4 {
  margin: 0;
}

#content table .colhead_dark a,
#content table .colhead a {
  color: #575757;
  font-weight: 700;
}

#content table .colhead_dark a:hover,
#content table .colhead a:hover {
  color: #007dc6;
}

#vanityhouse {
  margin: 0;
}

#vanityhouse tr:hover {
  background-color: #f0f0f0;
}

#friends table {
  width: 60%;
  margin: 0 auto;
}

#friends table textarea {
  height: 42px;
  width: 270px !important;
  margin: 0;
}

#friends table .left {
  width: 50%;
  text-align: right;
}

#friends table .left input[type=submit] {
  min-width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
}

#friends table td.avatar {
  padding: 0 0 5px;
}

#friends br {
  display: none;
}

.sidebar br {
  line-height: 1px;
}

#inbox .vertical_space:not(#preview) {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background: transparent url(images/convo.png) 50% 37px no-repeat;
}

#inbox .vertical_space:not(#preview) .head {
  color: #bebebe;
  margin-bottom: 5px;
}

#inbox .box .body {
  width: 450px;
  margin: 25px auto 0;
}

#inbox form .box {
  width: 100%;
  margin: 0 0 20px;
  padding: 0;
}

#inbox #preview {
  padding: 20px;
  background: transparent url(images/convo.png) 50% 0 no-repeat;
  margin-left: 180px;
  width: 471px;
}

#inbox table:not(.message_table) td {
  border-right: 1px solid #e6e6e6;
}

#inbox table:not(.message_table) td input[type=checkbox] {
  margin-left: -140px;
}

#inbox table:not(.message_table) .label,
#inbox table:not(.message_table) td:last-of-type {
  border-right: none;
}

#inbox table:not(.message_table) .label label {
  padding-left: 22px;
}

#forums h3 {
  margin: 15px 0;
}

#quickreplypreview {
  background-color: #f0f0f0;
  border: 1px solid #c6c6c6;
}

#blog blockquote,
#wiki .box blockquote,
.forum_post blockquote {
  border: 1px dotted #dcdcdc;
  padding: 6px;
  background: #fff url(images/quote_bg.png) -10px -5px no-repeat;
  margin-left: 25px;
  margin-right: 25px;
}

#forums blockquote {
  margin-left: 40px;
  margin-right: 40px;
}

.torrentdetails blockquote {
  background-image: none;
  background-color: hsla(0, 0%, 100%, 0.6);
}

#blog div.spoiler,
#wiki .box blockquote.spoiler,
.forum_post blockquote.spoiler {
  background: #fff;
}

.forum_post {
  border: none;
  margin: 0 0 10px;
  border-collapse: separate;
  border-spacing: 0;
}

.forum_post .avatar {
  width: 150px;
  padding: 0 13px 0 0;
}

.forum_post .colhead_dark td {
  padding: 5px;
}

.forum_post .body {
  padding: 10px 20px 15px 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d9d9d9;
  border-top-style: none !important;
  box-shadow: -4px 1px 8px rgba(187, 215, 235, 0.8);
  background-color: #f5f5f5;
  word-wrap: break-word;
}

.forum_post .body div {
  margin: 10px;
}

.forum_post .body div a {
  word-wrap: break-word;
}

#forums .forum_post .body {
  max-width: 708px;
}

#artist .forum_post .body textarea,
#requests .forum_post .body textarea,
#torrents .forum_post .body textarea {
  width: 420px !important;
}

#userhistory .forum_post .body {
  padding: 20px 20px 20px 40px;
}

#userhistory .forum_post tr.colhead_dark {
  background-color: #e8e8e8;
  background-image: none;
}

#artist .forum_post .body div div,
#collage .forum_post .body div div,
#forums .forum_post .body div div,
#torrents .forum_post .body div div {
  background: none;
  padding: 0;
}

.min_padding {
  padding: 0;
}

#forums .forum_post li {
  margin: 0 0 0 20px;
  padding: 0;
}

#forums #content .thin .box form .box input[type=Text] {
  font-size: 20px;
  width: 500px;
}

#forums #content form .box {
  width: 510px;
  margin: 0 auto;
  padding: 0;
}

strong.quoteheader {
  color: #575757;
}

.sidebar .box .stats li div {
  letter-spacing: 0 !important;
}

.sidebar .box .stats li div a {
  font-family: monospace !important;
}

/* ################################################################################
   0700 PAGE LAYOUTS
   ################################################################################ */

/* ################################################################################
   0701 torrents pages
   ################################################################################ */

#torrents .sidebar .box .stats li span.remove_artist a {
  font-family: monospace;
}

#torrents .sidebar .box .stats li span.remove_artist a:hover,
#torrents .sidebar .remove_tag a:hover {
  color: red;
}

#torrents input[value="Edit torrent"] {
  margin: 5px 0 30px;
}

#torrents input[value="Change group ID"],
#torrents input[value="Split into new group"] {
  margin: 0 0 0 -5px;
}

#torrents #content .center .box form h3 {
  margin: 5px 0;
}

#inbox #searchbox,
#torrents #content .search_form {
  width: 70%;
  margin: 20px auto 0;
  border: 1px solid #dcdcdc;
  border-radius: 7px;
  padding: 8px;
  background: #f3f3f3 url(images/filter.png) -30px -30px no-repeat;
}

#torrents .filter_torrents h3 {
  margin: 0 0 10px;
  font-size: 14px;
}

#torrents .filter_torrents table {
  background-color: transparent !important;
}

#torrents .filter_torrents table td {
  padding: 2px 5px;
  border: 0;
}

#torrents .filter_torrents table td.label {
  text-align: left;
  padding: 0;
  width: 20%;
}

#torrents .filter_torrents .cat_list {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 0;
  height: 30px;
}

#torrents .filter_torrents .inputtext {
  width: 150px;
}

#torrents .filter_torrents .smallest {
  width: 80px;
}

#torrents .filter_torrents a#swaptags {
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 5px 0;
}

#torrents .filter_torrents .submit {
  padding: 5px 0 0;
  font-weight: 700;
  text-align: right;
  direction: rtl;
}

#torrents .filter_torrents .submit span {
  direction: ltr;
}

.torrent a {
  font-weight: 700;
}

.show_torrents_link {
  border: none;
  width: 28px;
  height: 28px;
  display: block;
}

.show_torrents {
  background: url(images/what_show.gif) no-repeat 50%;
}

.hide_torrents {
  background: url(images/what_hide.gif) no-repeat 50%;
}

.group {
  font-weight: 700;
}

.group td.nobr,
.tags,
.tags a {
  font-weight: 400;
}

.tags,
.tags a {
  color: #888;
}

.tags a:hover {
  color: #007dc6;
}

#content form.search_form + .torrent_table {
  margin-top: 20px;
}

.search_form .box .head {
  border-bottom: 1px solid #e6e6e6;
}

#torrent_table {
  margin: 0;
  padding: 0;
  width: 100%;
}

#torrent_table a img {
  border: 0;
}

.torrent_table tr.group:not(.discog) {
  background-color: #f5f5f5;
}

.torrent_table tr.group:not(.discog):hover {
  background-color: #eee !important;
}

.torrent_table tr.group.discog td:first-of-type {
  width: 28px;
}

.torrent_table tr.group_torrent {
  background-color: #fff;
}

.torrent_table tr.group_torrent:hover {
  background-color: #f5f5f5 !important;
}

.torrent_table td {
  margin: 0;
  padding: 3px;
}

.colhead_dark td,
.colhead td {
  background-color: #e6e6e6 !important;
  font-weight: 700;
  border-top: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
}

tr.torrent .bookmark > a::before {
  content: "[";
  font-weight: 700;
}

tr.torrent .bookmark > a::after {
  content: "]";
  font-weight: 700;
}

.torrent_table .pad td {
  padding: 20px !important;
  background: url(images/download.png) 0 0 no-repeat;
}

.torrent_table .pad {
  background: url(images/download_bottom.png) 0 100% no-repeat;
}

.torrent_table .pad td td {
  background: none;
  padding: 5px !important;
}

#torrent_table tr.group_torrent td span,
#torrent_table tr.group td span,
#torrent_table tr.torrent td span {
  padding-left: 15px;
}

#torrent_table tr.group_torrent td span a,
.torrent_table tr.group_torrent td span a {
  color: #007dc6;
}

#torrent_table tr.group_torrent td span a:hover,
.torrent_table tr.group_torrent td span a:hover {
  color: #575757;
}

#torrent_table tr.group_torrent a,
.torrent_table tr.group_torrent a {
  color: #575757;
  font-weight: 400;
}

#torrent_table tr.group_torrent a:hover,
.torrent_table tr.group_torrent a:hover {
  color: #007dc6;
}

#artist #content .center .box form div input[type=text],
#torrents #content .center .box form div input[type=text],
#wiki #content .center .box form div input[type=text] {
  width: 500px !important;
  margin-bottom: 10px;
}

#artist #content .center .box form div textarea,
#edit_collage textarea,
#forums #content .thin .box form .box textarea,
#forums #quickpost,
#torrents #content .center .box form div textarea,
#upload textarea#album_desc,
#wiki #content .center .box form div textarea {
  height: 200px;
}

#artist #content .center .box form div,
#torrents #content .center .box form div,
#wiki #content .center .box form div {
  text-align: left !important;
}

.main_column table {
  margin: 0 0 20px;
}

#collage_table,
#discog_table {
  margin-top: 1px;
}

#artist .sidebar img,
#torrents .sidebar img {
  width: 228px;
}

#torrents .sidebar .box p {
  margin: 0;
  padding: 10px 0;
}

/* ################################################################################
   0720 User settings ~ sortable
   ################################################################################ */

#sortable .sortable_item:hover {
  background-color: #f0f0f0;
  border: thin solid black;
  box-sizing: border-box;
}

#sortable .sortable_item:hover > * {
  cursor: move;
}

#user #sortable {
  width: 50%;
}

/* ################################################################################
   0730 Not organized past here
   ################################################################################ */

#blog .box .head,
.box2 .head,
.main_column .box .head,
.sidebar .box .head {
  background-color: #f0f0f0;
  padding: 10px !important;
  border-bottom: 1px solid #c6c6c6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#more_news.box .head {
  background: none;
  border: none;
}

#blog .box,
.box2,
.main_column .box:not(.forum_post),
.sidebar .box {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  margin: 0 0 20px;
  border-radius: 4px;
}

.sidebar .box .stats {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.sidebar ol {
  padding: 0 !important;
  margin: 0;
  list-style-position: inside;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
}

#wiki .sidebar ul {
  padding: 0;
}

#wiki .sidebar ol ol,
#wiki .sidebar ul ul {
  margin: 0 0 0 10px;
}

div#flip_view_1 div#similar-artist .name {
  border: 1px solid #dcdcdc;
  background: hsla(0, 0%, 94.1%, 0.5);
  padding: 2px 4px;
}

#wiki .main_column .box h1,
#wiki .main_column .box h2,
#wiki .main_column .box h3 {
  margin: 5px 0;
}

#wiki .main_column .box h1 {
  font-size: 15px;
}

#wiki .main_column .box h2 {
  font-size: 13px;
}

#wiki .main_column .box h4 {
  margin-bottom: 0;
}

.sidebar .box li {
  margin: 0 0 2px;
}

.sidebar form {
  padding: 0 !important;
  margin: 0 !important;
}

.sidebar .pad br,
.sidebar form br {
  line-height: 1em;
}

.sidebar form textarea {
  width: 220px !important;
}

.sidebar form input {
  margin: 0;
}

.sidebar .box .pad div {
  padding: 0 !important;
}

.main_column .body,
.sidebar .box .body {
  padding: 10px;
}

.main_column .group {
  background: #c2c2c2 url(images/discogbglightshadow.png) 0 0 repeat-x;
}

.main_column .group td {
  color: #878787;
  background: transparent url(images/discogbglight.png) 100% 0 repeat-y;
  border: 0 !important;
}

.main_column .group td a {
  color: #454545;
}

.main_column .group td a:hover {
  color: #fff;
}

.main_column .group .center {
  background-image: none;
}

.main_column .group .tags {
  background: url(images/tags.png) 0 60% no-repeat;
  padding: 0 0 0 19px;
}

.main_column .group .tags a {
  color: #656565;
}

.main_column .group .tags a:hover {
  color: #8c8c8c;
}

.main_column .torrent_table .pad {
  padding: 15px !important;
}

.main_column .torrent_table .torrent {
  background-color: #f5f5f5;
}

.main_column .torrent_table .pad blockquote {
  margin: 0 0 5px;
  border: 1px dotted #e6e6e6;
  padding: 5px;
}

.save_message {
  background-color: #faf0a8;
}

.error_message,
.save_message {
  margin-bottom: 3em;
  display: block;
  padding: 5px;
  float: middle;
  text-align: center;
  font-weight: 700;
  border-radius: 11px;
}

.error_message {
  background-color: #ff5050;
}

.unreadpm {
  background-color: #faf0a8;
}

.unreadpm a {
  color: #575757;
  font-weight: 700;
}

.nobullet {
  list-style: none;
  margin: 0;
  padding: 10px;
}

#content::after,
#footer::after,
#menu ul::after,
div.sidebar::after,
ul#userinfo_minor::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#content,
#footer,
#menu ul,
div.sidebar,
ul#userinfo_minor {
  display: inline-block;
  display: block;
}

ul.collage_images img {
  height: 136px !important;
  width: 136px !important;
}

ul.collage_images li a {
  height: 138px !important;
  overflow: visible !important;
}

ul.collage_images li {
  width: 138px !important;
  height: 138px !important;
}

ul.collage_images li a:hover {
  position: relative;
}

ul.collage_images li a:hover img {
  left: -50px;
  position: absolute;
  top: -50px;
  width: 230px !important;
  height: 230px !important;
  z-index: 4;
}

ul.collage_images {
  width: 695px !important;
  margin: 0 !important;
}

#upload .box.pad {
  width: 780px !important;
}

#upload #dnulist td:first-child {
  width: 210px;
}

#upload .thin {
  width: 750px;
  margin: 30px auto 0;
}

#upload td.label {
  width: 112px;
}

#requests .box.box_votes {
  background-color: #fff;
}

.main_column .group td .small_upvote,
.small_upvoted,
.vote_album_up {
  font-weight: bolder;
  color: green;
}

.main_column .group td .small_downvote,
.small_downvoted,
.vote_album_down {
  font-weight: bolder;
  color: red;
}

#requests .tags {
  color: #656565;
}

#requests .tags a {
  color: #8c8c8c;
}

#requests .tags a:hover {
  color: #575757;
}

#requests td:first-child {
  width: 101px;
}

#requests .edit_form strong {
  float: left;
}

#requests .edit_form input[type=Submit] {
  position: relative;
  top: -40px;
  left: 289px;
}

#requests label {
  display: inline-block;
  min-width: 60px;
}

#quickreplybuttons {
  margin-top: 5px;
}

.colhead_dark input {
  margin: 0 0 0 5px;
}

h3 {
  margin: 10px 0;
}

#userform {
  padding: 20px 0 0;
}

.user_options select#discogview,
.user_options select#hidecollage,
.user_options select#searchtype,
.user_options select#stylesheet {
  width: 130px;
}

.user_options .options_list {
  padding: 0;
}

#user .layout.recent tr:not(.colhead) td {
  padding: 0;
}

#user .layout.recent img {
  width: 129px;
  height: 129px;
}

#artist .linkbox,
#bookmarks .linkbox,
#collage .linkbox,
#forums .linkbox,
#friends .linkbox,
#torrents .linkbox,
#user .linkbox,
#wiki .linkbox {
  border-bottom: 0;
}

#wiki .linkbox {
  padding-bottom: 0;
}

#rules #content .rule_summary,
#rules #content .rule_table {
  margin: 0 auto;
}

#rules #content h3 {
  margin: 20px auto 10px;
}

#rules #content li {
  margin: 0 0 5px -10px;
}

#userinfo_username .brackets {
  padding: 0 0 0 9px;
}

#userinfo_major .brackets {
  padding: 0 8px 0 0;
}

#forums table.border .cat_list {
  width: 80%;
}

#forums table.border .cat_list td {
  width: 20%;
  padding: 0 !important;
  border: 0 !important;
}

.forum_unread .colhead_dark td {
  background-color: #e3f1f9 !important;
}

#forums td[value=unread] {
  color: red !important;
}

#bookmarks .main_column,
#bookmarks .sidebar {
  margin-top: 20px;
}

#bookmarks .group td span {
  float: none !important;
}

#bookmarks .group td span strong {
  display: block;
  width: 400px;
  float: left;
}

#bookmarks .group .tags {
  float: left;
  clear: both;
}

#bookmarks .group span span {
  float: right !important;
}

#bookmarks .group span a {
  float: right;
}

#bookmarks .group span div a,
#bookmarks .group span strong a {
  float: none;
}

#bookmarks .header + table {
  margin-top: 20px;
}

#top10 p {
  margin: 10px 0;
}

#top10 div.linkbox:nth-of-type(2) {
  display: inline-block;
  float: right;
}

div[style="clear: both;"] {
  display: none;
}

div.box[style=""] div {
  text-align: center;
  margin: 0 auto;
}

div.box[style=""] .head {
  text-align: left;
  margin: 0;
}

/* ################################################################################
   0788 MusicBrainz Popup
   ################################################################################ */

#musicbrainz_popup {
  left: 22% !important;
  right: 22% !important;
  font-size: 12px !important;
}

#musicbrainz_popup a#mb,
#musicbrainz_popup a.mb {
  display: inline-block;
  text-indent: -5000px;
  overflow: hidden;
  width: 16px;
  margin-left: 5px;
}

#musicbrainz_popup p#mb,
#musicbrainz_popup p.mb {
  display: block;
}

/* ################################################################################
   0790 You must be staff
   ################################################################################ */

.permission_container {
  float: left;
  margin-left: 20px;
  width: 286px;
}

.permission_container:first-child {
  margin-left: 0;
}

.permission_container input {
  margin: 0 3px 5px 0;
  vertical-align: top;
}

.toolbox_container {
  float: left;
  margin-left: 20px;
  width: 193px;
}

/* ################################################################################
   0799 Seriously?
   ################################################################################ */

.OiNK #ArtistName {
  text-indent: -2000em;
}

.OiNK #OiNKPlus {
  padding: 30px 10px 10px;
}

.OiNK #History,
.OiNK #LastFMSimilar {
  padding: 5px 0 0 5px;
}

.OiNK input {
  color: #999;
  padding: 3px;
  border: 1px solid #9c9c9c !important;
  font-family: Arial, sans-serif;
}

.OiNK #MySpacePlayer object {
  width: 450px;
}
/* ################################################################################
   0800 Ornaments
   ################################################################################ */

/* ################################################################################
   0801 Icons, Forum
   ################################################################################ */

.unread_locked_sticky {
  background: url(images/locked_sticky_unread.gif) no-repeat 50%;
}

.read_locked_sticky {
  background: url(images/locked_sticky_read.gif) no-repeat 50%;
}

.read_sticky {
  background: url(images/sticky_read.gif) no-repeat 50%;
}

.unread_sticky {
  background: url(images/sticky_unread.gif) no-repeat 50%;
}

.unread_locked {
  background: url(images/locked_unread.gif) no-repeat 50%;
}

.read_locked {
  background: url(images/locked_read.gif) no-repeat 50%;
}

.unread {
  background: url(images/unread.gif) no-repeat 50%;
}

.read {
  background: url(images/read.gif) no-repeat 50%;
}

.read,
.read_locked,
.read_locked_sticky,
.read_sticky,
.unread,
.unread_locked,
.unread_locked_sticky,
.unread_sticky {
  padding: 0 0 0 30px !important;
}

/* ################################################################################
   0802 Icons, Upload types
   ################################################################################ */

.cats_applications {
  width: 28px;
  height: 28px;
  background: url(images/apps.png) no-repeat 50%;
}

.cats_audiobooks {
  width: 28px;
  height: 28px;
  background: url(images/audiobook.png) no-repeat 50%;
}

.cats_comedy {
  width: 28px;
  height: 28px;
  background: url(images/comedy.png) no-repeat 50%;
}

.cats_comics {
  width: 28px;
  height: 28px;
  background: url(images/comics.png) no-repeat 50%;
}

.cats_ebooks {
  width: 28px;
  height: 28px;
  background: url(images/ebook.png) no-repeat 50%;
}

.cats_elearningvideos {
  width: 28px;
  height: 28px;
  background: url(images/elearning.png) no-repeat 50%;
}

.cats_music {
  width: 28px;
  height: 28px;
  background: url(images/music.png) no-repeat 50%;
}

#forums img[width="500"] {
  width: 100%;
  height: 100%;
  border-right: 5px solid #007dc6;
  cursor: pointer;
  margin: 2px auto;
}

.forum_post ul,
.main_column .box ul {
  margin: 0 0 0 10px;
  list-style-position: inside;
  padding: 0;
}

.edition_info {
  padding-left: 40px !important;
}

.main_column .edition_info {
  padding-left: 5px !important;
}

#artist #discog_table .box:first-child {
  text-align: center;
}

#artist #discog_table .box:first-child a {
  display: inline-block;
  padding: 5px;
}

#inbox #searchbox {
  margin: 0 auto 20px;
}

div.invitetree ul.invitetree {
  margin: 0;
  padding-left: 10px;
}

.last_read {
  width: 15px;
  height: 15px;
  background: url(images/go_last_read.png) no-repeat 50%;
  margin-left: 5px;
}

.last_read a {
  border: none;
  width: 100%;
  height: 100%;
  display: block;
}

.last_read a:hover {
  border: none;
}

.center {
  text-align: center;
}

.spellcheck {
  margin: 25px 0;
  font-size: 1.25em;
  font-weight: 700;
}

table.noavatar,
table.noavatar td.body,
table.noavatar td.body div,
table.noavatar tr {
  background-image: none !important;
}

tr.torrent .bookmark > a::after,
tr.torrent .bookmark > a::before {
  content: "";
}

.linkbox .brackets::after,
.linkbox .brackets::before,
.top10_quantity_links .brackets::after,
.top10_quantity_links .brackets::before {
  color: #575757;
}

.group_image + .group_info {
  margin: 0;
  padding: 0 5px;
  display: table-cell;
  vertical-align: middle;
  height: 90px;
}

#torrents .group_image + .group_info {
  width: 450px;
}

.grouped.release_table .group_image + .group_info {
  width: 550px;
}

#top10 .group_image + .group_info {
  width: 585px;
}

.group_image img {
  background: url(static/common/noartwork/music.png) no-repeat 0 0;
  background-size: 90px;
  color: transparent;
}

.field_div {
  margin-bottom: 10px;
}

.edit_changelog textarea {
  width: 600px;
}

div[class~=tooltipster-base] {
  background-color: #f5f5f5;
  color: #575757;
}

#reports .box,
#reportsv2 .box {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  margin: 0 0 20px;
  border-radius: 4px;
}

#reports .pad,
#reportsv2 .pad,
.two_columns.pad {
  padding: 10px !important;
}

.sidebar img {
  max-width: 230px;
}

.forum_post td img {
  max-width: 690px;
}

#collage #reply_box img,
#forums #reply_box img {
  max-width: 680px;
}

#artistcomments img,
#request_comments img,
#torrent_comments img {
  max-width: 440px;
}

.blog_post img {
  max-width: 885px;
}

#artist_information img,
.box_request_desc img,
.news_post img,
.torrent_description img,
.wiki_article img {
  max-width: 625px;
}

.torrentdetails img {
  max-width: 590px;
}

#wiki .create_form img,
#wiki .edit_form img {
  max-width: 908px;
}

#userform img {
  max-width: 510px;
}

.profileinfo img {
  max-width: 620px;
}

#inbox #preview img,
#inbox .body img,
#staffpm #reply_box img {
  max-width: 450px;
}

#reportsv2 .manage_form img {
  max-width: 600px;
}

/* ################################################################################
   1000 STRUCTURE
   ################################################################################ */

#wrapper {
  display: flex;
  flex-flow: column wrap;
}

body#user div#wrapper div#content div.thin {
  display: flex;
  flex-flow: column;
}

body#user div#wrapper div#content div.thin div.header {
  position: unset;
  max-width: 100vw;
}

body#user div#wrapper div#content div.thin div.sidebar * {
  position: unset;
}

html body#user div#wrapper div#content div.thin form#userform.edit_form {
  display: flex;
  flex-flow: row nowrap;
}

body#user div#wrapper div#content div.thin div.sidebar {
  position: unset;
  order: 4;
  max-width: 12vw;
}

body#user div#wrapper div#content div.thin div.main_column {
  position: unset;
  order: 6;
  max-width: 70vw;
  overflow: hidden;
}

/* ################################################################################
   1005 HEADERBOX ITEM SETUP
   ################################################################################ */

input,
select,
textarea {
  font-family: Inter, Tahoma, Arial, sans-serif;
  font-size: 1em;
  border: 1px solid #9c9c9c;
}

textarea {
  width: 500px !important;
  height: 100px;
}

input,
textarea {
  color: #777;
  padding: .2rem .2rem .2rem .5rem;
  /*   background: white url("images/inputbg.png") top left repeat-x; */
}

input[type=file] {
  padding: 1px 3px;
}

select {
  padding: 1px;
}

#inbox #content h2 {
  padding: 20px !important;
}

input:focus,
textarea:focus {
  border: 1px solid #575757;
  color: #575757;
  border-radius: 11px;
}

#searchbars input {
  height: 17px;
  width: 131px;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  padding-left: 0.6rem;
}

#searchbars input:focus {
  border: 1px solid #575757;
  color: #575757;
  border-radius: 1rem;
}

input[type=submit],
input[type=button] {
  background-color: #f4f4f4;
  background-image: none;
  border-top: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  font-weight: bold;
}

input[type=submit]:active,
input[type=button]:active {
  color: #007dc7 !important;
}

input[value="Upload torrent"],
input[value="Upload torrents"] {
  margin: 15px 0 0 0;
  background-color: #007dc7;
  color: white;
  font-size: 15px;
  border-top: 1px solid #63afdd;
  border-left: 1px solid #63afdd;
  border-bottom: 1px solid #005488;
  border-right: 1px solid #005488;
}

input[value="Upload torrent"],
input[value="Upload torrents"]:active {
  color: #f4f4f4 !important;
}

/* ################################################################################
   1020 HEADER BOX SETUP
   ################################################################################ */

#header {
  padding: 0;
}

#menu {
  border-right: thin solid gray;
  margin-right: 0.5rem;
}

ul#userinfo_minor {
  list-style: none;
  margin-right: 0.5rem;
  padding: 0;
}

#header ul a {
  display: inline-block;
  padding: 1px 2px;
}

#menu ul li,
ul#userinfo_minor li {
  float: left;
  display: block;
  width: 74px;
}

ul#userinfo_minor li {
  width: 95px;
}

ul#userinfo_username,
ul#userinfo_major,
ul#userinfo_stats {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#userinfo_username li,
ul#userinfo_major li,
ul#userinfo_stats li {
  display: inline;
  font-weight: bold;
}

ul#userinfo_username li a {
  color: steelblue;
  overflow: hidden;
}

ul#userinfo_username li a:hover {
  background-color: #575757;
  color: #e6e6e6;
}

ul#userinfo_username li a.username {
  color: #575757;
  max-width: 70px;
  text-overflow: ellipsis;
}

ul#userinfo_username li a.username:hover {
  background-color: #007dc6;
  color: #e6e6e6;
}

ul#userinfo_major li a {
  color: #575757;
}

ul#userinfo_major li a:hover {
  background-color: #575757;
  color: #e6e6e6;
}

ul#userinfo_stats li {
  font-weight: normal;
  color: #575757;
}

ul#userinfo_stats li a {
  font-weight: normal;
  color: #575757;
}

ul#userinfo_stats li span.stat {
  color: #007dc6;
  margin-right: 2px;
}

ul#userinfo_minor a {
  color: #575757;
}

ul#userinfo_minor a:hover {
  background-color: #575757;
  color: #e6e6e6;
}

#menu a:hover {
  background-color: #007dc6;
  color: #e6e6e6;
}

#index #nav_index a,
#collage #nav_collages a,
#forums #nav_forums a,
#chat #nav_irc a,
#rules #nav_rules a,
#staff #nav_staff a,
#torrents #nav_torrents a,
#requests #nav_requests a,
#top10 #nav_top10 a,
#wiki #nav_wiki a {
  font-weight: bold;
}

/* ################################################################################
   1030 HEADER BOX LAYOUT
   ################################################################################ */

#header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  min-width: 600px;
  /*   position: absolute; */
  top: 0;
  left: 0;
}

#header {
  background: hsl(208, 90%, 97%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
}

#alerts,
#menu ul,
ul#userinfo_major,
ul#userinfo_minor,
ul#userinfo_stats,
ul#userinfo_username {
  position: unset;
  display: unset;
}

/* BIG ITEMS */
#logo {
  order: 1;
  flex: 12%;
}

#menu {
  order: 2;
  flex: 17%;
}

#userinfo {
  order: 3;
  flex: 60%;
}

#alerts {
  order: 4;
  flex: 100%;
}

#searchbars {
  order: 5;
  flex: 100%;
}

/* COLUMN I LOGO */

#logo {
  box-sizing: content-box;
  padding: 0;
  border-right: thin solid gray;
  margin-right: 0.5rem;
}

#logo > a {
  background: url("https://wally-crunk.github.io/svg/orpheus/ops-logo-loop-lightmode.svg") center no-repeat;
  background-size: 100px;
  display: block;
  filter: invert(25%) sepia(78%) saturate(99%) hue-rotate(149deg) brightness(87%) contrast(125%);
  height: 100%;
  width: 100%;
}

/* COLUMN II MENU */

/* COLUMN III USERINFO */

#userinfo {
  display: flex;
  flex-flow: column;
  width: 100%;
}

#userinfo #userinfo_username {
  order: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: baseline;
}

#userinfo #userinfo_stats {
  order: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: baseline;
  padding-top: 0.1rem;
}

#userinfo #userinfo_minor {
  order: 3;
  display: inline-block;
  padding-top: 0.1rem;
}

#userinfo #userinfo_major {
  order: 4;
  display: inline-block;
  width: 100%;
  padding-top: 0.1rem;
}

/* PART 4 ALERTS */

#alerts {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.alertbar {
  font-weight: normal;
  background-color: steelblue;
  padding: 0.5rem 2rem 0 3rem;
  margin-top: 0.3rem;
  margin-right: auto;
  background-image: url('https://wally-crunk.github.io/svg/std/notification-bell-000xeee.svg');
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: 1.2rem center;
  transition: all 0.175s ease;
  border-radius: 1rem;
}

.alertbar a {
  color: white;
  font-weight: bold;
  text-decoration-line: none;
}

.alertbar:hover {
  background-color: skyblue;
  transition: all 0.175s ease;
  a { color: black; }
}

.alertbar:first-of-type {
  padding-top: 4px;
}

.alertbar:last-of-type {
  padding-bottom: 4px;
}

/* PART 5 SEARCHBARS */

#searchbars {
  padding-top: 0.15rem;
}

#searchbars > ul {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

#searchbars > ul li {
  display: inline;
  flex: 1 1 auto;
}

#searchbars ul > *:not(:last-child) {
  margin-right: 1rem;
}

#searchbars > ul input {
  width: 100%;
}

#searchbars .search_form {
  background: 0 0; /* sets initial values for all */
}

#searchbars .search_form input {
  border: thin solid lightgray;
  border-radius: 0.7rem;
  background: unset;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.15);
  transition: 300ms ease-in-out;
}

/* ################################################################################
   7200 Upload Warnings
   ################################################################################ */

/* display a popup when any upload warning occurs inline on the page */

.upload-error::after,
ul#check::after {
  content: "Warning!  There were one or more errors in your submission. Check below for error messages.";
  font-weight: 700;
  position: absolute;
  top: 64px;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 50;
  /*   $z-upload-error-popups; */
  color: black;
  border: thick solid crimson;
  /*     $color-accent-border-error; */
  border-radius: 0.25rem;
  padding: 2rem 2rem 2rem 3rem;
  background: #fed100;
  /*     $color-background-error; */
  background-image: url("/styles/proton/images/warning-swe.svg");
  /*     $icon-warning; */
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 32px;
  box-shadow:
    0 10px 18px rgba(0, 0, 0, 0.55),
    0 7px 7px rgba(0, 0, 0, 0.52),
    0 -5px 9px rgba(0, 0, 0, 0.32);
}

.upload-error,
ul#check.nobullet > * {
  border: thick solid crimson;
  /*     $color-accent-border-error; */
  padding: 1rem 1rem 1rem 48px;
  background: #fed100;
  /*     $color-background-error; */
  background-image: url("/styles/proton/images/warning-swe.svg");
  /*     $icon-warning; */
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 32px;
}

.upload-error,
ul#check.nobullet *,
ul#check.nobullet > * {
  color: $color-text-error !important;
  font-size: 12px;
  font-weight: 700;
}

/* ################################################################################
   8000 FOOTER
   ################################################################################ */

#footer {
  padding: 42px 0 20px;
  color: #a5a5a5;
  text-align: left;
  background: #575757 url(images/footer_bg.png) 0 0 repeat-x;
  position: relative;
  margin: -22px auto 20px;
  z-index: 1;
  border-radius: 11px;
  overflow: hidden;
  clear: both;
  width: 950px;
}

#footer p {
  width: 235px;
  height: 36px;
  border-left: 1px solid #6f6f6f;
  margin: 0 20px 0 0;
  padding: 0 0 0 20px;
  display: table-cell;
  vertical-align: middle;
}

#footer p strong {
  padding-left: 3px;
}

#footer p:first-child {
  border: 0;
  width: 180px;
}

#footer p:last-child {
  margin: 0;
  width: 295px;
}

#footer a {
  color: #a5a5a5;
}

#footer a:hover {
  color: #c4c4c4;
}

#footer #disclaimer_container {
  font-weight: 400;
  text-align: left !important;
  margin: 0 20px 20px !important;
  padding: 0 0 20px;
  border-bottom: 1px solid #6f6f6f;
}

#footer br {
  display: none;
}

#footer p:last-of-type::after {
  content: " | Proton build 1708";
}

/* ### EOF ### */
/* ************************************************ */
