/* Error: Expected '.
 *      ,
 * 1796 |  * We want vertical flex unless there's a sidebar. However, CSS has no parent selectors.
 *      |                                                                                         ^
 *      '
 *   ../apollostage/_base.scss 1796:89  @import
 *   style.scss 54:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected '.\a      \2577 \a 1796 \2502   * We want vertical flex unless there's a sidebar. However, CSS has no parent selectors.\a      \2502                                                                                          ^\a      \2575 \a   ../apollostage/_base.scss 1796:89  @import\a   style.scss 54:9                    root stylesheet";
}
