/* APOLLOSTAGE COFFEE THEME */
/* 2024-05-16 */

// ////////////////////////////////////////////////////////////////////////////////
// SLUG/SETUP

// import basic colors as a backup:
@import '../apollostage/_variables';

// and override as follows:

 $debug-identity: "ApolloStage"; // must include quots
 $debug-slug: "1023"; // must include quots
 $debug-deriv: "coffee";
 $debug-deriv-slug: "0742";
  
// ////////////////////////////////////////////////////////////////////////////////
// COLORS

// Override as follows

// $levelbb: #272524;
// $levelaa: #302C2B;
// $level01: #3D2C29;
// $level02: #45322E;
// $level03: #4E3833;
// $level04: #563E37;
// $level05: #5F443B;
// $level06: #674A3F;
// $level07: #6F5042;
// $level08: #785746;
// $level09: #805D49;
// $level10: #89644C;
// $text11: #B4825D;
// $text12: #C0906A;
// $text13: #CBA079;
// $text14: #D7B18B;
// $text15: #E4C6A6;
// $text16: #EFDAC1;
// $text17: #fffacd;



$mid-100: #3D2C29;
$mid-200: #45322E;
$mid-300: #4E3833;
$mid-400: #563E37;
$mid-500: #5F443B;
$mid-600: #674A3F;
$mid-700: #6F5042;
$mid-800: #785746;
$mid-900: #805D49;
$mid-1000:  #89644C;

//Backs -- 100-600 are used

$back-100:  #1D1C1D;
$back-200:  #272524;
$back-300:  #302C2B;
$back-400:  #393534;
$back-500:  #433D3B;
$back-600:  #4C4443 ;

//Fores -- 500-1000 are used

$fore-400:  #B4825D;
$fore-500:  #C0906A;
$fore-600:  #CBA079;
$fore-700:  #D7B18B;
$fore-800:  #E4C6A6;
$fore-900:  #EFDAC1;
$fore-1000:  #FFFACD ;

/// Steal basic #qweqwe


// DEFINE FROM LOGICAL LAYOUT TO TOKENS

$color-background-base: $back-100;
$color-background-blockquote: $back-400;
$color-background-box: $back-500;
$color-background-form: $back-200; // also boxes on frontpage
$color-background-input: $back-400;
$color-background-input-active: $back-500;
$color-background-poll: $back-500;
$color-background-popup: $back-300; // upload musicbrainz info
$color-background-popup-warning: color-mix(in srgb, $ds-yellow, transparent 8%);
$color-background-searchbars: $back-300;
$color-background-searchbars-field-focus: $back-100;
$color-background-searchbars-surround: $back-500;
$color-background-table: $back-200; // tables/forms without odd-even treatment
$color-background-table-discog: $mid-300; // navigation row ~ "jump down to.."
$color-background-table-row-th: $back-500;
$color-background-table-row-odd: $back-300;
$color-background-table-row-even: $back-200;
$color-background-table-keyrows: $mid-300; // navigation row ~ "jump up to.."
$color-background-table-secondary: orangered; // no longer used
$color-background-table-torrenttable: $back-300; // also form field in focus
$color-background-table-torrents-group: $back-600;
$color-background-torrent: $mid-200; // edition in group-list

$color-text-anchor-hover: $mid-1000;
$color-text-anchor: $fore-1000;
$color-text-base: $fore-700;
$color-text-bold: $fore-800;
$color-text-button: $ds-gray-05;
$color-text-footer: $ds-neutral-300;
$color-text-heading-anchor: $mid-900;
$color-text-heading: $fore-700;
$color-text-important-alt: $ds-green;
$color-text-important: $ds-red;
$color-text-input: $fore-600; // for pre-populated inputs
$color-text-input-active: $fore-900;
$color-text-linkbox: $mid-800; // links in linkbox
$color-text-menu: $fore-1000;
$color-text-menu-hover: $back-300; // during pulldown
$color-text-mono: $fore-500;
$color-text-notification-words: $fore-1000;
$color-text-popup-anchor-hover: $mid-1000;
$color-text-popup-anchor: $fore-900;
$color-text-popup: $fore-700;
$color-text-ratio-greenzone: $ds-green;
$color-text-ratio-redzone: $ds-red;
$color-text-ratio-yellowzone: $ds-yellow;
$color-text-span-blue: hsl(235, 90%, 85%);
$color-text-span-green: hsl(145, 90%, 70%);
$color-text-span-red: $ds-red;
$color-text-table-discog-titles: $mid-900;
$color-text-tooltipster: $mid-600;
$color-text-tooltipster-anchor: $mid-800;
$color-text-tooltipster-anchor-hover: $mid-1000;

$color-menu-1: $mid-1000; // unused (could be home)
$color-menu-2: $mid-100; // torrents
$color-menu-3: $mid-200; // collages
$color-menu-4: $mid-300; // requests
$color-menu-5: $mid-400; // forums
$color-menu-6: $mid-500; // irc
$color-menu-7: $mid-600; // top10
$color-menu-8: $mid-700; // rules
$color-menu-9: $mid-800; // wiki
$color-menu-username: $mid-900; // username menu ~ closed
$color-menu-userinfo: $mid-1000; // VV pulldown menu ~ closed
$color-menu-hover: $mid-300;
$color-menu-username-hover: $mid-900; // username menu ~ open
$color-menu-userinfo-hover: $mid-900; // VV pulldown menu ~ open
$color-menu-fx-selection: $ds-fx-mid;
$color-mobilemenu-userinfo-1: $mid-400; // mobile pulldown menu gradient 1
$color-mobilemenu-userinfo-2: $mid-900; // mobile pulldown menu gradient 2
$color-mobilemenu-closed: $mid-700; // rules, also mobile menu header
$color-mobilemenu-shadow: $mid-500; //mobile menu

$color-background-notification-gradient-1: $mid-1000; // menu low/high suggested
$color-background-notification-gradient-2: $mid-400;  // menu high/low suggested
$color-background-notification: $ds-neutral-000;

$color-obj-button-base-1: $ds-gray-62; 
$color-obj-button-base-2: $ds-gray-92;
$color-obj-noty-buttons-hover: $mid-900;
$color-obj-poll: $mid-900; // poll active part of bargraph

$color-obj-tag_bubble-background: $mid-200; // menu-2 suggested
$color-obj-tag_bubble-foreground: $mid-900; // menu-9 suggested
$color-obj-tag_bubble_snatched-background: $back-600;

$color-accent-border-blockquote: $back-900; // Dotted
$color-accent-border-box: $back-900;
$color-accent-border-input: $ds-fx-low;
$color-accent-border-input-active: $ds-fx-mid;
$color-accent-border-tooltipster: $mid-800;
$color-accent-border-popup: $mid-800;
$color-accent-border-tableouter: $back-600-mid;
$color-accent-border-tablerows: $back-600-low;
$color-accent-border-tablerows-torrent: $back-600-mid;
$color-accent-shadow-menutext: initial; // provisioned for derivative themes

$color-accent-cats_applications: silver;
$color-accent-cats_audiobooks: cornflowerblue;
$color-accent-cats_comedy: deepskyblue;
$color-accent-cats_comics: gold;
$color-accent-cats_ebooks: chocolate;
$color-accent-cats_elearningvideos: mediumpurple;
$color-accent-cats_music: darkslategray;
$color-accent-forum-inline-last-read: #fed100;
$color-accent-forum-unread: #fed100;

$color-accent-selection-background: $mid-800;
$color-accent-selection-text: $fore-700; // usually #fff or $color-text-bold

$ds-shadow-heavy: 0 10px 18px rgba(0, 0, 0, 0.55), 0 7px 7px rgba(0, 0, 0, 0.52), 0px -5px 9px rgba(0,0,0,0.32);
$ds-shadow-raised:  0 10px 18px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.22);
$ds-shadow-raised-hover:  0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);



// DEFINE FROM LOGICAL LAYOUT TO TOKENS
// 
// $color-accent-border-blockquote:	 $back-900; // Dotted
// $color-accent-border-box:	 $back-900;
// $color-accent-border-input-active:	 $ds-fx-mid;
// $color-accent-border-input:	 $ds-fx-low;
// $color-accent-border-popup:	 $mid-800;
// $color-accent-border-tableouter:	 $back-600-mid;
// $color-accent-border-tablerows-torrent:	 $back-600-mid;
// $color-accent-border-tablerows:	 $back-600-low;
// $color-accent-border-tooltipster:	 $mid-800;
// 
// $color-accent-cats_applications: #f02940;
// $color-accent-cats_audiobooks: #a54873;
// $color-accent-cats_comedy: #8b869c;
// $color-accent-cats_comics: #688187;
// $color-accent-cats_ebooks: #578f9d;
// $color-accent-cats_elearningvideos: #793555;
// $color-accent-cats_music: #fd6659;
// 
// $color-accent-forum-inline-last-read:	 #fed100;
// $color-accent-forum-unread:	 #fed100;
// $color-accent-selection-background: rgba(180, 160, 139, 0.6);
// $color-accent-selection-text:	 $fore-700; // usually #fff or $color-text-bold
// $color-accent-shadow-menutext:	 initial; // provisioned for derivative themes
// 
// $color-background-base: $back-100;
// $color-background-blockquote: $level01;
// $color-background-box:	 $back-500;
// $color-background-form: $levelbb; 				// also boxes on frontpage
// $color-background-input-active:	 $back-500;
// $color-background-input: $levelaa; 	            // also table-even-rows
// $color-background-notification-gradient-1:	 $mid-1000; // menu low/high suggested
// $color-background-notification-gradient-2:	 $mid-400;  // menu high/low suggested
// $color-background-notification:	 $ds-neutral-000;
// $color-background-poll: rgba(197, 176, 155, 0.1);
// $color-background-popup-warning:	 color-mix(in srgb, $ds-yellow, transparent 8%);
// $color-background-popup:	 $back-300; // upload musicbrainz info
// $color-background-searchbars-field-focus:	 $back-100;
// $color-background-searchbars-surround:	 $back-500;
// $color-background-searchbars:	 $back-300;
// $color-background-table-discog:	 $mid-300; // navigation row ~ "jump down to.."
// $color-background-table-keyrows:	 $mid-300; // navigation row ~ "jump up to.."
// $color-background-table-row-even:	 $back-200;
// $color-background-table-row-odd:	 $back-300;
// $color-background-table-row-th:	 $back-500;
// $color-background-table-secondary: $level01;	// also form field in focus
// $color-background-table-torrents-group:	 $back-600;
// $color-background-table-torrenttable:	 $back-300; // also form field in focus
// $color-background-table: $levelbb;
// $color-background-torrent: $levelaa;
// 
// $color-menu-1:	 $mid-1000; // unused (could be home)
// $color-menu-2: $level10;    // torrents
// $color-menu-3: $level09;     // collages
// $color-menu-4:	 $mid-300; // requests
// $color-menu-5: $level07;     // forums
// $color-menu-5: $level08;    // requests
// $color-menu-6: $level06;     // irc
// $color-menu-7: $level05;   // top10
// $color-menu-8:	 $mid-700; // rules
// $color-menu-9: $level03;     // wiki
// $color-menu-fx-selection:	 $ds-fx-mid;
// $color-menu-hover:	 $mid-300;
// $color-menu-userinfo-hover: $level03;    // VV pulldown menu ~ open
// $color-menu-userinfo: $level01;                     // VV pulldown menu ~ closed
// $color-menu-username-hover: $level02; // username menu ~ open
// $color-menu-username: $level02;                  // username menu ~ closed
// 
// $color-mobilemenu-closed: $level04;                  // rules, also mobile menu header
// $color-mobilemenu-shadow:	 $mid-500; //mobile menu
// $color-mobilemenu-userinfo-1: $level09;    // mobile pulldown menu gradient 1
// $color-mobilemenu-userinfo-2: $level03;    // mobile pulldown menu gradient 2
// 
// $color-obj-button-base-1:	 $ds-gray-62;
// $color-obj-button-base-2:	 $ds-gray-92;
// $color-obj-noty-buttons-hover:	 $mid-900;
// $color-obj-poll:	 $mid-900; // poll active part of bargraph
// $color-obj-tag_bubble_snatched-background:	 $back-600;
// $color-obj-tag_bubble-background: $level04; 
// $color-obj-tag_bubble-foreground: $text12; 
// 
// $color-text-anchor-hover: $text13;
// $color-text-anchor: $text17;
// $color-text-base: $text15;
// $color-text-bold: $text16;
// $color-text-button:	 $ds-gray-05;
// $color-text-footer: #949494;
// $color-text-heading-anchor:	 $mid-900;
// $color-text-heading:	 $fore-700;
// $color-text-important-alt:	 $ds-green;
// $color-text-important:	 $ds-red;
// $color-text-input-active:	 $fore-900;
// $color-text-input: $text14;
// $color-text-linkbox:	 $mid-800; // links in linkbox
// $color-text-menu-hover:	 $back-300; // during pulldown
// $color-text-menu: $text17;
// $color-text-mono: $text14;
// $color-text-notification-words:	 $fore-1000;
// $color-text-popup-anchor-hover:	 $mid-1000;
// $color-text-popup-anchor:	 $fore-900;
// $color-text-popup:	 $fore-700;
// $color-text-ratio-greenzone:	 $ds-green;
// $color-text-ratio-redzone: #e74e4e;
// $color-text-ratio-yellowzone: #e1b661;
// $color-text-span-blue: #4e4ee7;
// $color-text-span-green: #4eb44e;
// $color-text-span-red:	 $ds-red;
// $color-text-table-discog-titles:	 $mid-900;
// $color-text-tooltipster-anchor-hover:	 $mid-1000;
// $color-text-tooltipster-anchor:	 $mid-800;
// $color-text-tooltipster:	 $mid-600;


@import '../apollostage/_base';

// EOF

