/* Error: expected ";".
 *     ,
 * 111 | $neutral-100: #F7F8F9
 *     |             ^
 *     '
 *   style.scss 111:13  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a     \2577 \a 111 \2502  $neutral-100: #F7F8F9\a     \2502              ^\a     \2575 \a   style.scss 111:13  root stylesheet';
}
