$primary-accent-color: #83e4a6;
$base-background-color: #041813;
$base-text-color: #b9bdbd;

$userinfo-background-color-1: #1e7683aa;
$userinfo-background-color-2: #1e7683;
$userinfo-minor-hover-background-color: #189273;
$userinfo-minor-color: #23d1a5;
$userinfo-username-color: #20c098;
$userinfo-username-hover-background-color: #16866a;
$userinfo-background-color-1: #22696eaf;
$userinfo-background-color-2: #22696e;

$table-background-color: #212A2D;
$secondary-table-background-color: #262e27;
$form-background-color: #1B2426;
$a-color: #f0f0f0;
$a-hover-color: #c7fada;
$header-background-color: #1a9f7d;

$menu-li-second-child-background-color: #0a3a2e;
$menu-li-third-child-background-color: #0c4a3b;
$menu-li-fourth-child-background-color: #0f5b48;
$menu-li-fifth-child-background-color: #126c56;
$menu-li-sixth-child-background-color: #157d63;
$menu-li-seventh-child-background-color: #188e70;
$menu-li-ninth-child-background-color: #1daf8b;

$blockquote-background-color: #33363d;
$input-background-color: #252F32;

$span-green-color: #4fb650;
$span-blue-color: #4f50e9;

$torrent-background-color: #1F282B;

$footer-color: #959a9e;

$input-color: #c6c9c9;

$ratio-red-color: #e85050;
$ratio-yellow-color: #e3ba65;

$menu-background-color-1: #0999;
$menu-background-color-2: #088;

$selection-background-color: rgba(105, 217, 146, 0.6);
$poll-background-color: rgba(131, 228, 166, 0.1);

$unread-icon: url(https://wally-crunk.github.io/ike/document-round.svg);
$unread-locked-icon: url(https://wally-crunk.github.io/ike/lock-round.svg);
$unread-sticky-icon: url(https://wally-crunk.github.io/ike/pin-round.svg);
$unread-locked-sticky-icon: url(https://wally-crunk.github.io/ike/pin-and-lock-round.svg);

$read-icon: url(https://wally-crunk.github.io/ike/document.svg);
$read-locked-icon: url(https://wally-crunk.github.io/ike/lock.svg);
$read-sticky-icon: url(https://wally-crunk.github.io/ike/pin.svg);
$read-locked-sticky-icon: url(https://wally-crunk.github.io/ike/pin-and-lock.svg);

$arrow-down-icon: url(https://wally-crunk.github.io/ike/chevrons-bottom.svg);

$ops-lockup-icon: url(https://wally-crunk.github.io/ike/ops-lockup.svg);
$ops-square-icon: url(https://wally-crunk.github.io/ike/ops-loop.svg);

$number-snatches-icon: url(https://wally-crunk.github.io/ike/arrow-snatches.svg);
$number-seeders-icon: url(https://wally-crunk.github.io/ike/arrow-up-round.svg);
$number-leechers-icon: url(https://wally-crunk.github.io/ike/arrow-down-round.svg);
