/* Error: expected ";".
 *    ,
 * 46 | $gradient-color-2: #72483f  // usually works well with 'seventh-child'
 *    |                  ^
 *    '
 *   style.scss 46:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \";\".\a    \2577 \a 46 \2502  $gradient-color-2: #72483f  // usually works well with 'seventh-child'\a    \2502                   ^\a    \2575 \a   style.scss 46:18  root stylesheet";
}
