/* ########################################################################
   ORPHEUS HAZE THEME
   ######################################################################## */

// ////////////////////////////////////////////////////////////////////////////////
// SLUG/SETUP

// import basic colors as a backup:
@use "../apollostage/_variables" as variables;

// debug slugs: must be after import.
variables.$build-slug: variables.$build-slug + " " + "251031a haze";

// and override as follows:

// ////////////////////////////////////////////////////////////////////////////////
// COLOR TOKENS

// physical_layout -> token, and token -> raw value.

// Backgrounds (not all are used)
variables.$back-100: #1D1C1C;
variables.$back-200: #222020;
variables.$back-300: #242121;
variables.$back-400: #252323;
variables.$back-500: #272424;
variables.$back-600: #292626;
variables.$back-700: #2A2727;
variables.$back-800: #2C2928;
variables.$back-900: #2E2A2A;
variables.$back-1000: #2F2B2B;
$back-500-low: rgba(169, 148, 134.7, 0.07);

// Mids
variables.$midtone-100: #444342;
variables.$midtone-200: #4d4c4c;
variables.$midtone-300: #575555;
variables.$midtone-400: #615f5e;
variables.$midtone-500: #6a6867;
variables.$midtone-600: #747171;
variables.$midtone-700: #7e7b7a;
variables.$midtone-800: #888483;
variables.$midtone-900: #918d8c;
variables.$midtone-1000: #9b9695;

// Menu; haze theme is darker than spinal tap listening to jay-z with metallica
variables.$menutheme-100: #101313;
variables.$menutheme-200: #101313;
variables.$menutheme-300: #101313;
variables.$menutheme-400: #101313;
variables.$menutheme-500: #101313;
variables.$menutheme-600: #101313;
variables.$menutheme-700: #101313;
variables.$menutheme-800: #101313;
variables.$menutheme-900: #101313;
variables.$menutheme-1000: #101313;

// Foregrounds -- 400-1000 are used
variables.$fore-400: #313333;
variables.$fore-500: #4e5253;
variables.$fore-600: #6b7173;
variables.$fore-700: #879092;
variables.$fore-800: #a6afb2;
variables.$fore-900: #c7cfd2;
variables.$fore-1000: #f2f9fc;

// direct-specialty
$ds-bone-83: #e3dac9;
$ds-haze-gold-12: hsl(45, 13%, 12%);
$ds-haze-gold-40: hsl(51, 100%, 40%);
$ds-haze-gold-fx-44: hsla(67, 18%, 55%, 0.44);
$ds-haze-gold-fx-80: hsla(58, 24%, 67%, 0.8);
$ds-haze-gold-pattern: url("data:image/svg+xml,%3Csvg id='patternId' width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(1) rotate(0)'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='hsla(0,0%25,100%25,0)'/%3E%3Cpath d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002' stroke-width='1' stroke='hsla(33, 15%25, 35%25, 0.25)' fill='none'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800%25' height='800%25' transform='translate(0,0)' fill='url(%23a)'/%3E%3C/svg%3E");

// ////////////////////////////////////////////////////////////////////////////////
// DEFINE FROM LOGICAL LAYOUT TO TOKENS

variables.$color-background-base: variables.$back-100;
variables.$color-background-blockquote: $back-500-low;
variables.$color-background-box: $back-500-low;
variables.$color-background-form: variables.$back-200; // also boxes on frontpage
variables.$color-background-input: variables.$back-400;
variables.$color-background-input-active: variables.$back-500;
variables.$color-background-poll: variables.$back-500;
variables.$color-background-searchbars: variables.$menutheme-100; //changed for tap
variables.$color-background-searchbars-field-focus: variables.$back-100;
variables.$color-background-searchbars-surround: variables.$back-500;
variables.$color-background-table: variables.$back-200; // tables/forms without odd-even treatment
variables.$color-background-table-row-th: variables.$back-700;
variables.$color-background-table-row-odd: variables.$back-500;
variables.$color-background-table-row-even: variables.$back-300;

variables.$color-background-table-torrenttable: variables.$back-300; // also form field in focus
variables.$color-background-table-details: variables.$back-400; // equal to blockquote
variables.$color-background-table-torrents-group: variables.$back-600;
variables.$color-background-tooltipster: variables.$back-100;
variables.$color-background-torrent: variables.$midtone-200; // edition in group-list
variables.$color-background-table-discog: variables.$midtone-300; // navigation row ~ "jump down to.."
variables.$color-background-table-keyrows: variables.$midtone-300; // navigation row ~ "jump up to.."

variables.$color-menu-1: variables.$menutheme-1000; // unused (could be home)
variables.$color-menu-2: variables.$menutheme-100; // torrents
variables.$color-menu-3: variables.$menutheme-200; // collages
variables.$color-menu-4: variables.$menutheme-300; // requests
variables.$color-menu-5: variables.$menutheme-400; // forums
variables.$color-menu-6: variables.$menutheme-500; // irc
variables.$color-menu-7: variables.$menutheme-600; // top10
variables.$color-menu-8: variables.$menutheme-700; // rules
variables.$color-menu-9: variables.$menutheme-800; // wiki
variables.$color-menu-username: variables.$menutheme-900; // username menu ~ closed
variables.$color-menu-userinfo: variables.$menutheme-1000; // VV pulldown menu ~ closed
variables.$color-menu-hover: variables.$menutheme-300;
variables.$color-menu-username-hover: variables.$menutheme-900; // username menu ~ open
variables.$color-menu-userinfo-hover: variables.$menutheme-900; // VV pulldown menu ~ open
$color-menu-fx-selection: variables.$ds-fx-menutheme;
variables.$color-mobilemenu-userinfo-1: variables.$menutheme-400; // mobile pulldown menu gradient 1
variables.$color-mobilemenu-userinfo-2: variables.$menutheme-900; // mobile pulldown menu gradient 2
variables.$color-mobilemenu-closed: variables.$menutheme-700; // rules, also mobile menu header
variables.$color-mobilemenu-shadow: variables.$menutheme-500; //mobile menu
variables.$color-mobilemenu-closed-overlays: variables.$menutheme-100; // bg for icons on the hedaer

variables.$color-text-anchor-hover: variables.$midtone-1000;
variables.$color-text-anchor: variables.$fore-1000;
variables.$color-text-base: variables.$fore-800;
variables.$color-text-bold: variables.$fore-800;
$color-text-button: variables.$ds-gray-05;
$color-text-footer: variables.$ds-neutral-300;
variables.$color-text-heading-anchor: variables.$fore-1000; //uniqueue
variables.$color-text-heading: variables.$fore-700;
$color-text-important-alt: variables.$ds-green;
$color-text-important: variables.$ds-red;
variables.$color-text-input: variables.$fore-600; // for pre-populated inputs
variables.$color-text-input-active: variables.$fore-900;
variables.$color-text-linkbox: variables.$midtone-800; // links in linkbox
variables.$color-text-menu: variables.$fore-1000;
variables.$color-text-menu-hover: variables.$fore-700; // during pulldown // changed
variables.$color-text-mono: variables.$fore-700;
variables.$color-text-popup-anchor-hover: variables.$midtone-1000;
variables.$color-text-popup-anchor: variables.$fore-500;
variables.$color-text-popup: variables.$fore-400; // white background
$color-text-ratio-greenzone: variables.$ds-green;
$color-text-ratio-redzone: variables.$ds-red;
$color-text-ratio-yellowzone: variables.$ds-yellow;
$color-text-span-blue: hsl(235deg 90% 85%);
$color-text-span-green: hsl(145deg 90% 70%);
$color-text-span-red: variables.$ds-red;
variables.$color-text-table-discog-titles: variables.$midtone-900;
variables.$color-text-tooltipster: variables.$fore-700;
variables.$color-text-tooltipster-anchor: variables.$fore-900;
variables.$color-text-tooltipster-anchor-hover: variables.$fore-800;

$color-obj-button-base-1: variables.$ds-gray-62;
$color-obj-button-base-2: variables.$ds-gray-92;
variables.$color-obj-poll: variables.$midtone-900; // poll active part of bargraph

// variables.$color-obj-tag_bubble-background: variables.$midtone-200; // changed
// variables.$color-obj-tag_bubble-foreground: variables.$midtone-1000; // changed

//bubbles
variables.$color-obj-tag-bubble-fg: variables.$fore-700;
variables.$color-obj-tag-bubble-bg: variables.$midtone-800;
variables.$color-obj-info-bubble-bg: variables.$ds-neutral-500; 
variables.$color-obj-info-bubble-fg: variables.$ds-neutral-000;
variables.$color-obj-reported-bubble-bg: variables.$midtone-900;
variables.$color-obj-reported_bubble-fg: variables.$fore-900;
variables.$color-obj-warning-bubble-bg: variables.$midtone-700;
variables.$color-obj-warning-bubble-fg: variables.$fore-700;
variables.$color-obj-approved-bubble-bg: variables.$midtone-500;
variables.$color-obj-approved-bubble-fg: variables.$fore-500;
variables.$color-obj-gratis-bubble-bg: variables.$fore-300;
variables.$color-obj-gratis-bubble-fg: variables.$midtone-500;

// Autocompletes

variables.$color-background-autocompletes: variables.$color-background-searchbars;
variables.$color-accent-border-autocompletes: variables.$midtone-300;
variables.$color-text-autocomplete: variables.$color-text-input;
variables.$color-text-autocomplete-highlight-match: variables.$fore-1000;

variables.$color-accent-border-blockquote: variables.$back-900; // Dotted
variables.$color-accent-border-box: variables.$back-900;
$color-accent-border-input: variables.$ds-fx-low;
$color-accent-border-input-active: variables.$ds-fx-mid;
variables.$color-accent-border-tooltipster: variables.$midtone-800;
variables.$color-accent-border-popup: variables.$midtone-800;
variables.$color-accent-border-tableouter: variables.$back-600-mid;
variables.$color-accent-border-tablerows: variables.$back-600-low;
variables.$color-accent-border-tablerows-torrent: variables.$back-600-mid;
variables.$color-accent-shadow-menutext: initial; // provisioned for derivative themes

variables.$color-accent-cats_applications: silver;
variables.$color-accent-cats_audiobooks: #3e4042;
variables.$color-accent-cats_comedy: #046; //blue
variables.$color-accent-cats_comics: #999060; //gold
variables.$color-accent-cats_ebooks: #523e2c;
variables.$color-accent-cats_elearningvideos: #483d4d;
variables.$color-accent-cats_music: #1f2829;
variables.$color-accent-forum-inline-last-read: $ds-bone-83; // changed
variables.$color-accent-forum-unread: $ds-bone-83; // changed

variables.$color-accent-selection-background: variables.$midtone-900;
variables.$color-accent-selection-text: variables.$menutheme-100; // usually #fff or $color-text-bold

// popup notifications
variables.$color-background-notification-gradient-1: variables.$midtone-400; // menu low/high suggested
variables.$color-background-notification-gradient-2: variables.$midtone-700; // menu high/low suggested
variables.$color-background-notification: variables.$midtone-500;
variables.$color-text-notification-words: variables.$fore-1000;

// alerts
variables.$color-accent-border-alert: variables.$midtone-500;
variables.$color-background-alert: variables.$midtone-100;
variables.$color-text-alert: variables.$fore-700;
variables.$color-anchor-alert: variables.$fore-1000;
$ds-shadow-heavy: 0 10px 18px rgb(0 0 0 / 55%), 0 7px 7px rgb(0 0 0 / 52%),
  0 -5px 9px rgb(0 0 0 / 32%);
$ds-shadow-raised: 0 10px 18px rgb(0 0 0 / 25%), 0 7px 7px rgb(0 0 0 / 22%);
$ds-shadow-raised-hover: 0 14px 28px rgb(0 0 0 / 25%),
  0 10px 10px rgb(0 0 0 / 22%);
$icon-menu-open-state: url(config('STATIC_SERVER') + "/svg/std/menu-ccc.svg"); // change to lighter version

// ////////////////////////////////////////////////////////////////////////////////
// WITH ALL VARIABLES SET, NOW IMPORT THE BASE CODE

@import "../apollostage/_base";

// ////////////////////////////////////////////////////////////////////////////////
// CUSTOM OVERRIDES

/*  Custom Override for 1.8.1 Menu Handling */

/*  Active Tab */
html body div#wrapper div#header div#menu ul li.active a {
  background-color: $ds-haze-gold-12;
  background-image: $ds-haze-gold-pattern;
  border-bottom: solid thick $ds-haze-gold-40; /* fallback */
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, $ds-haze-gold-fx-44, $ds-haze-gold-fx-80);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

/*  #################################################### */

/*  Custom Override for 1.10 Notifications */

/*  Only for desktop, and respect user preference */
@media only screen and (min-width: 575px) and (prefers-contrast: no-preference) {
  /* Provide Haze Effect */
  #noty_bottomRight_layout_container li {
    background: unset !important;
    box-shadow:
      2.3px 2.3px 1.9px rgba(0, 0, 0, 0.1),
      9.7px 9.7px 7.7px rgba(0, 0, 0, 0.15),
      26.5px 26.5px 21.2px rgba(0, 0, 0, 0.2),
      100px 100px 80px rgba(0, 0, 0, 0.33) !important;
    backdrop-filter: blur(2.75px);
    /* 2024 status */
    -webkit-backdrop-filter: blur(2.75px);
  }

  /* first row of each box */
  #noty_bottomRight_layout_container .noty_message {
    background:
      radial-gradient(
        circle at top right,
        rgba(126, 123, 122, 0.23),
        rgba(155, 150, 149, 0.23)
      ) !important;
  }

  /* second row of each box */
  #noty_bottomRight_layout_container .noty_buttons {
    background-color: rgba(97, 95, 94, 0.42) !important;
  }
}

// EOF
// ////////////////////////////////////////////////////////////////////////////////
