/* Error: Undefined variable.
 *    ,
 * 99 | $color-text-heading: $fore-200;
 *    |                      ^^^^^^^^^
 *    '
 *   style.scss 99:22  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 99 \2502  $color-text-heading: $fore-200;\a    \2502                       ^^^^^^^^^\a    \2575 \a   style.scss 99:22  root stylesheet";
}
